[submodule "student-management-server"]
	path = student-management-server
	url = https://github.com/proffesergio/student-management-server.git
[submodule "course-management-server"]
	path = course-management-server
	url = https://github.com/proffesergio/course-management-server.git
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/proffesergio/discovery-server.git
[submodule "gateway-server"]
	path = gateway-server
	url = https://github.com/proffesergio/gateway-server.git
[submodule "spring-student-frontend"]
	path = spring-student-frontend
	url = https://github.com/proffesergio/spring-student-frontend.git
